/* FONTS */

@font-face {
  font-family: "Mahogany";
  src: url("./fonts/mahogany/Mahogany.woff") format("woff"),
    /* Modern Browsers */ url("./fonts/mahogany/Mahogany.woff2") format("woff2"),
    /* Modern Browsers */ url("./fonts/mahogany/Mahogany.otf") format("opentype"),
    /* Safari, Android, iOS */ url("./fonts/mahogany/Mahogany.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/satoshi/Satoshi-Variable.woff2") format("woff2"),
    url("./fonts/satoshi/Satoshi-Variable.woff") format("woff"),
    url("./fonts/satoshi/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/* GENERAL */

:root {
  --doc-height: 100%;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  background: #000000;
  font-family: "Satoshi", "sans-serif";
  margin: 0;
  padding: 0;
}

body,
html,
#root,
#main,
.global,
.disclaimer,
.home,
.game {
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mahogany", "sans-serif";
}

h1 {
  color: #ffd972;
  font-size: 140px;
  -webkit-text-stroke: 1px #a04d21;
  /* text-shadow: -3px 0 #a04d21, 0 3px #a04d21, 3px 0 #a04d21, 0 -px #a04d21; */
  margin: 0;
}

p {
  margin: 0 0 20px 0;
}

/* BUTTONS */

.primary-btn {
  font-family: "Mahogany", "sans-serif";
  font-size: 34px;
  border-radius: 15px;
  color: black;
  background: white;
  border: 2px solid white;
  padding: 20px 30px 15px 30px;
  min-width: 150px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.primary-btn:active {
  background: #aaaaaa;
  border: 2px solid #aaaaaa;
}

.secondary-btn {
  color: white;
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

/* LAYOUT */

.global .wrapper {
  position: relative;
  top: 0%;
  transition: all 1s ease;
}

.global .wrapper .landscape {
  bottom: 0%;
  transition: all 1s ease;
}

.global .wrapper .home {
  position: fixed;
  width: 100%;
  left: 0%;
  z-index: 999;
  transition: all 1s ease;
}

.global .wrapper .game {
  position: fixed;
  width: 100%;
  left: 100%;
  z-index: 999;
  transition: all 1s ease;
}

.global .wrapper.active .home {
  left: -100%;
}

.global .wrapper.active .game {
  left: 0%;
}

/* LANDSCAPE */

.landscape {
  position: fixed;
  bottom: 0;
  left: 0;
}

.landscape .clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
}

.landscape .clouds .c-wrap {
  animation: slide-clouds 15s linear infinite;
  height: 200px;
}

.landscape .clouds .cloud {
  position: absolute;
  width: 100px;
}

.landscape .clouds .cloud-1 {
  top: 0;
  left: 0;
  transform: translateX(-50%);
}

.landscape .clouds .cloud-2 {
  top: 100px;
  right: 0;
  transform: translateX(50%);
}

.landscape .clouds .cloud-3 {
  top: 0;
  right: -100%;
  transform: translateX(50%);
}

.landscape .clouds .cloud-4 {
  top: 100px;
  right: -200%;
  transform: translateX(50%);
}

.landscape .clouds .cloud-5 {
  top: 0;
  right: -300%;
  transform: translateX(50%);
}

.landscape .city {
  margin-bottom: -10px;
  width: 100%;
  overflow: hidden;
}

.landscape .city img {
  width: 700%;
}

.landscape .ground {
  width: 200%;
  height: 60px;
  background-color: #454545;
  position: relative;
}

.landscape .clouds {
  top: -100px;
}

.landscape .city img {
  position: relative;
  left: 0%;
  animation: slide-city 50s linear infinite;
  transition: all 1s ease;
}

.active .landscape .city img {
  animation-play-state: paused;
  left: -50%;
}

.home #sippy::after,
.game .characters::after {
  content: "";
  background-color: #000000;
  display: block;
  position: absolute;
  border-radius: 50%;
}

.home #sippy svg {
  position: relative;
  z-index: 2;
}

@media (max-width: 768px) {
  .home #sippy::after {
    width: 165px;
    height: 30px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  .game .characters::after {
    width: 95px;
    height: 20px;
    right: 20px;
    bottom: 10px;
  }
}

@media (min-width: 768px) {
  .landscape .clouds {
    top: -165% !important;
  }

  .landscape .clouds .c-wrap {
    animation: slide-clouds 35s linear infinite;
    height: 300px;
  }

  .landscape .clouds .cloud {
    width: 200px;
  }

  .landscape .city img {
    width: 200%;
  }

  .landscape .ground::after {
    width: 222px !important;
    height: 44px !important;
    left: 44px !important;
    bottom: 8px !important;
  }
}

/* DISCLAIMER */

.disclaimer {
  position: fixed;
  z-index: 9999;
  top: 0%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  padding: 35px;
  transition: all 1s ease;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.disclaimer.active {
  opacity: 1;
  pointer-events: initial;
}

.disclaimer .content {
  position: relative;
  z-index: 3;
  background: white;
  border-radius: 34px;
  padding: 50px 40px;
  max-width: 400px;
}

.disclaimer .content > * {
  color: black;
}

.disclaimer small {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  display: block;
}

.disclaimer p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
}

.disclaimer .content .primary-btn {
  border-color: black;
  background: white;
}

@media (min-width: 768px) {
  .disclaimer .content .primary-btn:hover {
    color: white;
    background: black;
  }
}

/* =============================== */

.share button {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.share button img {
  width: 24px;
  position: relative;
  top: -1.5px;
  margin-right: 8px;
}

.home,
.game {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home .content {
  position: relative;
  z-index: 4;
  margin-top: 50px;
  padding: 0 35px;
}

.home .title {
  margin-bottom: 20px;
  max-width: 570px;
}

.home p {
  font-size: 18px;
  font-weight: bold;
}

.home .play {
  margin-top: 30px;
}

.home .play a {
  display: inline-block;
  text-decoration: none;
}

.home .share {
  margin-top: 30px;
  justify-content: center;
}

.home #sippy {
  width: 160px;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.home #sippy svg:not(:first-child) {
  display: none !important;
}

.game .prompts {
  position: relative;
  z-index: 4;
  margin: 40px 35px;
  height: 70%;
  display: flex;
}

.game .prompts .prompt {
  flex: 1 0 100%;
  border: 2px solid white;
  border-radius: 34px;
  padding: 20px;
  margin-right: 35px;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(0%);
}

.game .prompts .prompt.next {
  transform: translateX(calc(-100% - 35px));
  transition: all 0.5s ease;
}

.game .prompts p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: auto;
}

.game .prompts .prompt button {
  margin-top: auto;
  margin-bottom: 20px;
}

.game .share {
  position: relative;
  z-index: 4;
  margin-left: 35px;
}

.game .share button {
  margin: 0;
}

.game #sippy {
  width: 85px;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  bottom: 20px;
  right: 30px;
}

@keyframes slide-clouds {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200%, 0, 0); /* The image width */
  }
}

@media (max-width: 768px) {
  .sippy-lg,
  .cheesy-lg {
    display: none;
  }

  .game .prompts::before {
    content: "";
    display: block;
    width: 27px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    right: 30%;
  }

  .game .prompts::after {
    content: "";
    display: block;
    width: 17px;
    height: 9px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    right: 23%;
  }

  @keyframes slide-city {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0); /* The image width */
    }
  }
}

@media (min-width: 768px) {
  .primary-btn {
    color: white;
    background: black;
  }

  .primary-btn:hover {
    color: black;
    background: white;
  }

  .primary-btn:active {
    color: black;
  }

  #sippy {
    display: none;
  }

  .sippy-lg {
    position: absolute;
    z-index: 3;
    left: 30px;
    bottom: 25px;
  }

  .cheesy-lg {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: -100px;
  }

  .home p {
    font-size: 24px;
  }

  .game .prompts {
    width: 35%;
    left: calc(50% - 35px);
    transform: translateX(-50%);
    margin-top: 80px;
  }

  .game .prompts .prompt {
    margin-right: 100%;
  }

  .game .prompts .prompt.next {
    transform: translateX(calc(-200%));
  }

  .game .share {
    text-align: center;
    justify-content: center;
    margin-left: 0;
  }
}
